################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs
/src/HexagonalLib.Net/HexagonalLib.Net/bin/Debug
